.montitoring{
	width: 750rpx;
	height: 450rpx;
	background-color: #000000;
}
._video{
	width: 100%;
	height: 100%;
}
.montiButn{
	height: 550rpx;
	
	margin: 0 auto;
	margin: 60rpx 50rpx  0 50rpx;
	box-sizing: border-box;
}
.icon{
	width:46rpx;
	height: 46rpx;
}