.eq-tool{
  padding:0 20rpx;
  background-color: white;
  box-sizing: border-box;
  height: 92rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  position: relative;
  z-index: 15;
}
.eq-tool.active{
  background:#fff;
}
.eq-tool .right{
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}
.eq-tool .right .search{
  flex: 1;
  height: 70%;
  border-radius: 6rpx;
  background:#fff;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10rpx;
}
.search-clear{
  padding:20rpx 10rpx;
}
.search-clear .clear{
  width: 28rpx;
  height: 28rpx;
}
.icon{
  width: 60rpx;
  height: 60rpx;
  margin-left: 14rpx;
}
.eq-tool .right .tianqi{
  display: flex;
  align-items: center;
  font-size: 26rpx;
  margin-right:10rpx;
 

}
.eq-tool .right .tianqi .icon{
  width: 54rpx;
  height: 54rpx;
}
.eq-tool .right  .icon{
  width: 54rpx;
  height: 54rpx;
}
.eq-tool .left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.eq-tool .left .left-item{
  display: flex;
  align-items: center;
  font-size: 26rpx;
  margin-right:20rpx;
}
.left .left-item .icon{
  width: 32rpx;
  height: 33rpx;
  margin-right:14rpx;
}
.toolActive{
  color: #007AFF;
}
.eq-list{
	width: 100%;
	height: 80rpx;
	border-bottom: 1px solid #ECF5FF;
	padding: 15rpx 10rpx;
	margin: 10rpx auto ;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.eq-list .left{
	/* width: 140rpx; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.eq-list .left .IDicon{
	width: 34rpx;
	height:34rpx;
	margin-left: 10rpx;
}
.eq-list .right{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #007AFF;
	font-size: 26rpx;
	
}
.eq-list .right .icon-cd{
	width: 34rpx;
	height: 34rpx;
	margin-left: 15rpx;
}
.checkall{
	width: 100rpx;
	height: 100rpx;
	border-radius: 100%;
	background-color: #007AFF;
	color: white;
/* 	display: flex;
	align-items: center;
	font-size: 36rpx;*/
	position: fixed;
	text-align: center;
	top: 80%;
	right: 5%;
	line-height: 100rpx;
	font-size: 28rpx;
	transition: ease 0.5s;
	z-index: 20;
}
.dropw{
	width: 750rpx;
	height: 200rpx;
	position: fixed;
	top: -170rpx;
	left: 0;
	z-index: 10;
	transition: ease 1s;
	z-index: 10;
}
.slidDropw{
	top: 180rpx;
	transition: ease 1s;
}
.reagList{
	width: 100%;
	height: 70rpx;
	padding: 10rpx 30rpx;
	border-bottom: 1px solid #F1F1F1;
	font-size: 28rpx;
	display: flex;
	align-items: center;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: ease 0.5s;
	
}
.reglistIm{
	width: 32rpx;
	height: 32rpx;
}
.regColos{
	color: #007AFF;
}
.eqswitchBox{
	width: 100%;
	height: 100rpx;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 20;
	border: 1px solid #F1F1F1;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 15rpx 15rpx;
	box-sizing: border-box;
	font-weight: 400;
}
.witbtns{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 26rpx;
	
}
.witbtns image{
	width: 26rpx;
	height: 26rpx;
}
.witbtns:hover{
	color: #007AFF;
}
.eq-list .left text{
	margin-left: 15rpx;
}