.SingItem{
	width: 700rpx;
	height: 450rpx;
	padding: 50rpx 5rpx 5rpx;
	margin: 30rpx auto 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
	border: 1rpx solid #cccccc;
	border-radius: 10rpx;	
	position: relative;
	
}
.list-item{
	width: 310rpx;
	height: 110rpx;
	text-align: center;
	padding: 10rpx;
	box-sizing: border-box;
	font-size: 28rpx;
	color: #808080;
	position: relative;
	border-radius: 10rpx;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.list-msg{
	font-size: 40rpx;
	color: #007AFF;
}
.list-msg2{
	font-size: 40rpx;
	color: #4cd964;
}
.list-msg3{	
	font-size: 40rpx;
	color: #dd524d;
}
.list-msg4{	
	font-size: 40rpx;
	color: #FAC858;
}
.list-msg5{
	font-size: 40rpx;
	color: #555555;
}
.list-danwei{
	color: #333;
	font-size: 24rpx;
}
.list-icon{
	width: 45rpx;
	height: 45rpx;
	position: absolute;
	top: 30rpx;
	left: 25rpx;
}
.borderBox{
	box-shadow: 0 3px 10px rgba(30, 188, 255, 0.1);
	/* transition: ease 0.5s; */
}
.titx {
	position: absolute;
	top: 20rpx;
	left: 15rpx;
	z-index: 9;
	display: flex;
	font-size: 24rpx;
	align-items: center;
}

.colrsBox {
	width: 10rpx;
	height: 15rpx;
	background: #1890FF;
	float: left;
}

.titleBx {
	float: left;
	margin-left: 5rpx;
}
.led-from{
	width: 700rpx;
	height: 650rpx;
	padding: 50rpx 5rpx 5rpx;
	margin: 30rpx auto 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
	border: 1rpx solid #cccccc;
	border-radius: 10rpx;	
	position: relative;
	overflow: auto;
}
.let-fromList{
	margin-top: 20rpx;
}